* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #864141;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #300f0fc0, #86414100);
    color: #e7b6b6;
    padding: 10px;
    font-size: 60px;
    font-weight: bold;
}

.navbar.logo{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-links li {
    display: inline;
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

section{
    display: block;
    margin: 50px 0 50px 0;
}

.home{
    display: flex;
    padding: 20px;
}

.home img{
    justify-content: center;
}

.proyek {
    display: flex;
    margin: 20px 0 20px 0;
}

.proyek a{
    display: block;
    width: 100px;
    text-align: center;
    background: #111111;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

.proyek a:hover{
    background: #ffffff;
    color: #000000;
    padding: 15px 20px 15px 20px;
}

.gambar-proyek {
    width: 250px;
    height: 250px; 
    margin-right: 50px;
}

.deskripsi-proyek {
    flex: 1; 
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width:991.98px) {
    .wrapper{
        font-size: 80%;
        width: 90%;
    }

    .navbar{
        font-size: 40%;
    }

    .home img{
        width: 90%;
    }

    .proyek{
        display: block;
    }
}    